include ../product-btn/product-btn

mixin product-card(attrs)
    .product-card
        a.product-card__link(href=attrs.href title=attrs.name)
            img.product-card__img(src=attrs.imgUrl, alt="")
            span.product-card__name= attrs.name
        .product-card__wrap
            .product-card__price!= attrs.price
                | &nbsp;руб.
            .product-card__btns
                each btn in attrs.btns
                    +product-btn(btn)

